/* You can add global styles to this file, and also import other style files */

body {
    background-color: #252430;
    font-size: 16px; 
    font-family: Clash Display; 
    font-weight: 500;
    color: white;
    margin: 0px;
}

  @media (min-width: 768px) {
    html ::-webkit-scrollbar {
      width: 10px;
    }
    
    html ::-webkit-scrollbar-track {
      background: transparent;
    }
    
    html ::-webkit-scrollbar-button {
      display: none;
    }
    
    html ::-webkit-scrollbar-thumb {
      background: rgba(0, 0, 0, 0.2);
      border-radius: 5px;
    }
    
    html ::-webkit-scrollbar-thumb:hover {
      background: rgba(0, 0, 0, 0.4);
    }
  }

  @media (max-width: 768px) {
    body, head, html {
      overflow-x: scroll;
    }
  }