/* You can add global styles to this file, and also import other style files */

body {
    background-color: #252430;
    font-size: 16px; 
    font-family: Clash Display; 
    font-weight: 500;
    color: white;
    margin: 0px;
}